@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";	

.drawer {
    position: fixed;
    width: auto;
    width: 375px;
    transition: width 1s ease-in-out;
    height: 100%;
    border: 1px solid $light-gray;
    background-color: white;
    box-shadow: 2px 2px 3px $dark-gray;
    font-size: 16px;
    text-align: left;
    color: $dark-gray;
    font-family: "Open Sans";
    top: 0;
    left: 0;
    z-index: 1050;
    overflow-y: scroll;
    &::-webkit-scrollbar { 
        display: none;
    }
}


.left {
    @extend .drawer;
    top: 0;
    left: 0;
}

.right {
    @extend .drawer;
    top: 0;
    right: 0;
}

.close {
    border-right: 1px solid $light-gray;
    text-align: center;
}

.logo {

}

.header {
    border-bottom: 1px solid $light-gray;
    line-height: 45px;
}

.divider {
    height: 3px;
    background-color: $light-gray
}