/*
 * * * * * * * * * * * * * * * * * * *
 * BASE
 * * * * * * * * * * * * * * * * * * *
 */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	@include open-sans();
	font-size: 62.5%;
	color: $color-font;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	@include clearfix();
	@include font-size(1.6); // still do this?
	padding: 0px;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4 {
	margin: 0;
	font-weight: 400;
}

h1, h2 { @include roboto(); }

h1 {
	@include font-size(5.6);

	&.hero { @include font-size(6.4); }
}

h2 { @include font-size(4); }

h3, h4 { @include open-sans(); }

h3 { @include font-size(2.4); }

h4 { @include font-size(2); }

p {
	@include font-size(1.6);

	&.small { @include font-size(1.2); }
}

a {
	color: $blue;
	text-decoration: none;

	&:hover { border-bottom: 1px solid $blue; }
}

hr {
	float: left;
	width: 100%;
	border: none;
	border-top: 1px solid $light-gray;
	margin: 20px 0;
}