/*
 * * * * * * * * * * * * * * * * * * *
 * COLORS
 * * * * * * * * * * * * * * * * * * *
 */

// Brand colors

$blue: #0CA2D0;
$orange: #FF9900;
$green: #64BA7B;
$red: #CC0033;
$gray: #888C90;

$dark-blue: #087090;
$midnight: #3B4559;
$dark-gray: #4A5456;
$light-gray: #CCCCCC;
$off-white: #F4F4F4;

// Product Colors

$off-black: #111111;
$yellow: #ffcc00;
$white: #ffffff;

$light-blue: #ceecf6; // tint(#0CA2D0, 20)
$light-orange: #ffebcc; // tint(#FF9900, 20)
$light-green: #e0f1e5; // tint(#64BA7B, 20)
$light-red: #f5ccd6; // tint(#CC0033, 20)
$light-yellow: #fff5cc; // tint(#ffcc00, 20)


// Helpers

$color-font: $dark-gray;
$color-font-light: $gray;
$success: $green;
$error: $red;