/*
 * * * * * * * * * * * * * * * * * * *
 * Docs-specific styling
 * * * * * * * * * * * * * * * * * * *
 */

.page-wrapper {
	padding: 50px;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	@include clearfix();
}

.header-wrapper {
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-top: 30px;
}

// Fonts
h1, h2, h3, h4 {
	float: left;
	clear: both;
}

.fonts-wrapper > * {
	float: left;
	clear: both;
	margin-bottom: 10px;
}

// Colors

.color {
	float: left;
	width: 50%;
	position: relative;
	padding: 10px;

	&:before {
		content: '';
		display: block;
		float: left;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		margin-right: 10px;
	}

	span {
		display: block;
		padding: 5px;
	}

	&.blue:before { background: $blue; }
	&.orange:before { background: $orange; }
	&.green:before { background: $green; }
	&.red:before { background: $red; }
	&.gray:before { background: $gray; }

	&.dark-blue:before { background: $dark-blue; }
	&.midnight:before { background: $midnight; }
	&.dark-gray:before { background: $dark-gray; }
	&.light-gray:before { background: $light-gray; }
	&.off-white:before { background: $off-white; }

	&.off-black:before { background: $off-black; }
	&.yellow:before { background: $yellow; }

	&.light-blue:before { background: $light-blue; }
	&.light-orange:before { background: $light-orange; }
	&.light-green:before { background: $light-green; }
	&.light-red:before { background: $light-red; }
	&.light-yellow:before { background: $light-yellow; }
}

// Buttons

.button {
	float: left;
}

// Icons

.icons-column {
	width: 100%;
}

[class*='ico-'] {
	width: 100%;
	height: 100%;
	fill: $blue;
}

.icon-wrapper {
	background: none;
	position: relative;
	width: percentage(1/5);
	height: 120px;
	padding-bottom: 40px;
	border: 5px solid $white;
	margin-bottom: 20px;
	float: left;
	display: block;
	background: tint($off-white, 50);

	.title {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;
		@include font-size(1.1);
		padding: 5px 10px;
		line-height: 1.2em;
		text-align: center;
		color: $gray;
	}

	&:hover,
	&:focus {
		outline: none;
		cursor: default;
	}
}