/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto+Slab:400");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * * * * * * * * * * * * * * * * * * *
 * COLORS
 * * * * * * * * * * * * * * * * * * *
 */
/*
 * * * * * * * * * * * * * * * * * * *
 * @mixins
 * * * * * * * * * * * * * * * * * * *
 */
/*~~~~~~~~~~~ GRID ~~~~~~~~~~~~~~*/
.breakpoint-tester {
  position: fixed;
  top: 50px;
  right: 0;
  background: #FF9900;
  font-size: 20px;
  padding: 10px 15px;
  z-index: 1001; }
  .breakpoint-tester:before {
    content: 'default'; }
  @media (max-width: 1200px) {
    .breakpoint-tester:before {
      content: 'extra-large'; } }
  @media (max-width: 1000px) {
    .breakpoint-tester:before {
      content: 'large'; } }
  @media (max-width: 800px) {
    .breakpoint-tester:before {
      content: 'medium'; } }
  @media (max-width: 600px) {
    .breakpoint-tester:before {
      content: 'medium-step'; } }
  @media (max-width: 400px) {
    .breakpoint-tester:before {
      content: 'small'; } }
  @media (max-width: 380px) {
    .breakpoint-tester:before {
      content: 'dang-small'; } }

/*
 * * * * * * * * * * * * * * * * * * *
 * GRID
 * * * * * * * * * * * * * * * * * * *
 */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

.column {
  float: left;
  width: 100%;
  padding: 0 15px; }
  .column::after {
    content: '';
    display: table;
    clear: both; }

/*
 * * * * * * * * * * * * * * * * * * *
 * BUTTONS
 * * * * * * * * * * * * * * * * * * *
 */
.button {
  border: none;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  padding: 0;
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  display: inline-block;
  width: auto;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background: #0CA2D0;
  color: #ffffff;
  margin: 0 10px 10px 0; }
  .button:focus {
    outline: 0; }
  .button:disabled, .button[disabled=disabled] {
    opacity: 0.4; }
    .button:disabled:hover, .button:disabled:active, .button[disabled=disabled]:hover, .button[disabled=disabled]:active {
      cursor: default; }
  .button:hover {
    background: #55bede;
    text-decoration: none; }
  .button:active, .button.selected {
    background: #0a82a6; }
  .button:disabled:hover, .button:disabled:active, .button[disabled=disabled]:hover, .button[disabled=disabled]:active {
    background: #55bede; }
  .button.secondary {
    border: none;
    border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
    padding: 0;
    font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
    display: inline-block;
    width: auto;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 15px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: #ffffff;
    color: #0CA2D0;
    margin: 0 10px 10px 0;
    border: 1px solid #0CA2D0;
    line-height: 30px; }
    .button.secondary:focus {
      outline: 0; }
    .button.secondary:disabled, .button.secondary[disabled=disabled] {
      opacity: 0.4; }
      .button.secondary:disabled:hover, .button.secondary:disabled:active, .button.secondary[disabled=disabled]:hover, .button.secondary[disabled=disabled]:active {
        cursor: default; }
    .button.secondary:hover {
      background: white;
      text-decoration: none; }
    .button.secondary:active, .button.secondary.selected {
      background: #cccccc; }
    .button.secondary:disabled:hover, .button.secondary:disabled:active, .button.secondary[disabled=disabled]:hover, .button.secondary[disabled=disabled]:active {
      background: white; }
    .button.secondary:hover {
      background: #0CA2D0;
      color: #ffffff; }
    .button.secondary:active {
      background: #0a82a6; }
  .button.large {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-size: 1.4rem; }
    .button.large.secondary {
      line-height: 38px; }

/*
 * * * * * * * * * * * * * * * * * * *
 * LITTLE BITS
 * * * * * * * * * * * * * * * * * * *
 */
.left {
  float: left; }

.right {
  float: right; }

.nomar {
  margin: 0; }

/*
 * * * * * * * * * * * * * * * * * * *
 * ICON ANIMATIONS
 * * * * * * * * * * * * * * * * * * *
 */
.spin-the-spinner {
  display: inline-block;
  -webkit-animation: spin 1.35s linear infinite;
  -moz-animation: spin 1.35s linear infinite;
  -ms-animation: spin 1.35s linear infinite;
  -o-animation: spin 1.35s linear infinite;
  animation: spin 1.35s linear infinite; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(180deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg); }
  to {
    -ms-transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }
  50% {
    -o-transform: rotate(180deg); }
  to {
    -o-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  to {
    transform: rotate(360deg); } }

/*
 * * * * * * * * * * * * * * * * * * *
 * BASE
 * * * * * * * * * * * * * * * * * * *
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #4A5456;
  width: 100%;
  height: 100%;
  display: block; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0px;
  width: 100%;
  height: 100%; }
  body::after {
    content: '';
    display: table;
    clear: both; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400; }

h1, h2 {
  font-family: "Roboto Slab", georgia, times, serif; }

h1 {
  font-size: 56px;
  font-size: 5.6rem; }
  h1.hero {
    font-size: 64px;
    font-size: 6.4rem; }

h2 {
  font-size: 40px;
  font-size: 4rem; }

h3, h4 {
  font-family: "Open Sans", Verdana, Helvetica, Arial, sans-serif; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 20px;
  font-size: 2rem; }

p {
  font-size: 16px;
  font-size: 1.6rem; }
  p.small {
    font-size: 12px;
    font-size: 1.2rem; }

a {
  color: #0CA2D0;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #0CA2D0; }

hr {
  float: left;
  width: 100%;
  border: none;
  border-top: 1px solid #CCCCCC;
  margin: 20px 0; }

/*
 * * * * * * * * * * * * * * * * * * *
 * Docs-specific styling
 * * * * * * * * * * * * * * * * * * *
 */
.page-wrapper {
  padding: 50px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }
  .page-wrapper::after {
    content: '';
    display: table;
    clear: both; }

.header-wrapper {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin-top: 30px; }

h1, h2, h3, h4 {
  float: left;
  clear: both; }

.fonts-wrapper > * {
  float: left;
  clear: both;
  margin-bottom: 10px; }

.color {
  float: left;
  width: 50%;
  position: relative;
  padding: 10px; }
  .color:before {
    content: '';
    display: block;
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px; }
  .color span {
    display: block;
    padding: 5px; }
  .color.blue:before {
    background: #0CA2D0; }
  .color.orange:before {
    background: #FF9900; }
  .color.green:before {
    background: #64BA7B; }
  .color.red:before {
    background: #CC0033; }
  .color.gray:before {
    background: #888C90; }
  .color.dark-blue:before {
    background: #087090; }
  .color.midnight:before {
    background: #3B4559; }
  .color.dark-gray:before {
    background: #4A5456; }
  .color.light-gray:before {
    background: #CCCCCC; }
  .color.off-white:before {
    background: #F4F4F4; }
  .color.off-black:before {
    background: #111111; }
  .color.yellow:before {
    background: #ffcc00; }
  .color.light-blue:before {
    background: #ceecf6; }
  .color.light-orange:before {
    background: #ffebcc; }
  .color.light-green:before {
    background: #e0f1e5; }
  .color.light-red:before {
    background: #f5ccd6; }
  .color.light-yellow:before {
    background: #fff5cc; }

.button {
  float: left; }

.icons-column {
  width: 100%; }

[class*='ico-'] {
  width: 100%;
  height: 100%;
  fill: #0CA2D0; }

.icon-wrapper {
  background: none;
  position: relative;
  width: 20%;
  height: 120px;
  padding-bottom: 40px;
  border: 5px solid #ffffff;
  margin-bottom: 20px;
  float: left;
  display: block;
  background: #fafafa; }
  .icon-wrapper .title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 5px 10px;
    line-height: 1.2em;
    text-align: center;
    color: #888C90; }
  .icon-wrapper:hover, .icon-wrapper:focus {
    outline: none;
    cursor: default; }

/*# sourceMappingURL=main.css.map */