@import "../../_Modal.scss";

$button_height: 40px;
$space_between_buttons: 10px;

.modalFooter {
	border-top: 1px solid #ccc;
	padding: $padding 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: space-around;
	margin: 0 $padding;
}

.confirmButton {
	@include button($blue, $white);
	height: $button_height;
	margin: 0;
}

.cancelButton {
	border: 1px solid $blue !important;
	@include button($white, $blue);
	margin: 0 0 0 $space_between_buttons;
	height: $button_height;
}