@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";	

.sub-nav {
    line-height: 48px;
    color: $gray;
    list-style: none;
    margin-bottom: 0;
    li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans';
	    font-size: 14px;
	    font-weight: normal;
    }
}

.active {
    position: relative;
    width: 100%;
    height: 3px;
    bottom: 3px;
    background-color: $blue;
}
 