@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";	

.treeContainer {
    width: 100%;
    height: auto;
    position: relative;
}

.tree {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 0;
    line-height: 36px;
}