.box {
    background-color: #0CA2D0;
    height: 30px;
    margin-bottom: 5px;
}

.container {
    background-color: #eee;
}

.rowLabel {
    padding: 0 0 0 24px;
    font-size: 12px;
    margin: 0;
}