@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";	

.date-range {
    font-family: 'Open Sans';
	font-size: 15px;
}

.date-text {
    display: inline-block;
    margin-top: -2px;
    line-height: 15px;
    vertical-align: middle;
}