@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";	

.hs-text {

	color: $dark-gray;;
	font-size: 16px;
	font-weight: 400;
	@include open-sans();

	// Style
	&.thin 	 { font-weight: 300 !important; }
	&.bold 	 { font-weight: 700 !important; }
	&.center { text-align: center !important; }
	&.italic { font-style: italic !important; }

	// Color
	&.blue  	 { color: $blue !important; }
	&.dark-blue  { color: $dark-blue !important; }
	&.dark-gray  { color: $dark-gray !important; }
	&.gray 		 { color: $gray !important; }
	&.green 	 { color: $green !important; }
	&.light 	 { color: $gray !important; }
	&.light-gray { color: $light-gray !important; }
	&.midnight 	 { color: $midnight !important; }
	&.off-white  { color: $off-white !important; }
	&.off-black  { color: $off-black !important; }
	&.orange 	 { color: $orange !important; }
	&.red 		 { color: $red !important; }
	&.yellow 	 { color: $yellow !important; }
	&.white 	 { color: $white !important; }

	// Size
	&.tiny	 { font-size: 10px !important; }
	&.small  { font-size: 12px !important; }
	&.medium { font-size: 18px !important; }
	&.h4	 { font-size: 20px !important; }
	&.h3	 { font-size: 24px !important; }
	&.h2	 { font-size: 40px !important; }
	&.h1	 { font-size: 56px !important; }
	&.hero	 { font-size: 64px !important; }

	// Transform
	&.uppercase { text-transform: uppercase; }
	&.lowercase { text-transform: lowercase; }

}