@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";	

.dropdownContainer {
    display: inline-block;
    position: relative;
}


.dropDown-menu {
    width: auto;
    position: absolute;
    height: auto;
    outline: none;
    z-index: 1000;
    min-width: 200px;
}

.left {
    @extend .dropDown-menu;
    left: 0;
}

.right {
    @extend .dropDown-menu;
    left: 0;
}



:global {
    .echo-caret-up {
        position: absolute;
        top: -7px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 7px solid $light-gray;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-radius: 3px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 1px;
            top: 1px;
            border-bottom: 6px solid white;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }
    }

    .right {
        @extend .echo-caret-up;
        right: 21px;
    }

    .left {
        @extend .echo-caret-up;
        left: 7px;
    }

    .center {
        left: calc(100% - 50% - 7px);
    }
}