@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";

.nestedDropdown {
    margin-bottom: 0;
    background-color: $off-white;
    border-top: 1px solid $light-gray;
}

.nestedDropdown > li {
    margin-left: 10px;
    border-left: 1px solid $light-gray;
}