@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";

.listItemLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.listItemControl {
    position: absolute;
    overflow: hidden;
    width: 37px;
    height: 100%;
    right: 0px;
    top: 0px;
    border-left: 1px solid $light-gray;
    text-align: center;
}

.labelContainer {
    position: relative;
    padding-right: 45px;
    &.active {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 3px;
            height: 100%;
            background: $blue;
        }
    }
}
