@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";

.sectionBreak {
    height: 70px;
    display: table-cell;
    vertical-align: bottom;
    font-size: 12px;
    color: $gray;
    padding-left: 10px;
}