@import "../../../scss/_mixins.scss";		// Needed for buttons
@import "../../../scss/_color.scss";		// Needed for buttons
@import "../../../scss/_buttons.scss";


// vars for modal and its subcomponents
$padding: 17px;
$header_height: 25px;
$border_radius: 5px;

.modal {
	@include roboto();
	@include border-radius-all(5px);
	background: white;
	width: 500px;
}

.show {
	display: block;
}
.hide {
	display: none;
}

.modalHeaderPosition {
	@include border-radius($border_radius, $border_radius, 0, 0);
	height: $header_height;
	line-height: $header_height;
}

.textBlock {
	padding: 25px $padding;
	color: $gray;
	line-height: 1.5;
}