@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";	

.header {
    width: 100%;
	height: 56px;
	background-color: $blue;
    line-height: 56px;
	box-shadow: inset 0 5px 0 0 #2f2f2f;
    color: white;
}

.sub-header {
    height: 48px;
	background-color: $off-white;
}

.app-icon {
    display: none;
    width: 56px;
    border-right: 1px solid white;
    text-align: center;
}

.brand {
    display: inline-block;
    padding-left: 15px;
}

.sub-app-icon {
    width: 30px;
    text-align: right;
    margin-left: -5px;
}

.divider {
    width: 1px;
    height: 28px;
    background-color: $gray;
}


.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
    .sub-header {
       display: none;
    }

    .app-icon {
        display: inline-block;
    }
}   