@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";

.listItem {
    background-color: white;
    list-style: none;
    position: relative;
    &.active {
        background-color: $off-white;
    }
}


.listItem + .listItem {
    border-top: 1px solid $light-gray;
}
