@import "../../../scss/_mixins.scss";
@import "../../../scss/_color.scss";

.row {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.noPad {
    @extend .row;
    padding-left: 0px;
    padding-right: 0px;
}

.col {
    flex-grow: 0;
}

.col + .col {
    padding-left: 15px;
}

.row .row {
    padding: 0;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {
    .row.phone-portrait {
        flex-direction: column;
    }

    .row.phone-portrait .col {
        padding: 0px;
        width: 100%;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
    .row.phone-landscape {
        flex-direction: column;
    }

    .row.phone-landscape .col {
        padding: 0px;
        width: 100%;
    }
}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
    .row.tablet-portrait {
        flex-direction: column;
    }

    .row.tablet-portrait .col {
        padding: 0px;
        width: 100%;
    }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
    .row.tablet-landscape {
        flex-direction: column;
    }

    .row.tablet-landscape .col {
        padding: 0px;
        width: 100%;
    }
}    