@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";

.dropdownMenu {
    width: auto;
    position: relative;
    height: auto;
    border: 1px solid $light-gray;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ddd;
    outline: none;
    z-index: 1000;
    background: white;
}