@import "../../../../../scss/_mixins.scss";
@import "../../../../../scss/_color.scss";	

.shade {
    position: fixed;
    z-index: 1001;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}